.books-container {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    gap: 1.5em;

    margin-block: 1em;
}

.book-container {
    transition: scale .3s;
}

.book-container:hover {
    scale: 1.1;
    cursor: pointer;
}

.book-container p {
    font-weight: 600;
    margin-block-end: .5em;
}

.book-thumbnail {
    height: 250px;
}

.btn-back {
    display: block;
}