.google-books {

    margin: 1em auto;
    width: fit-content;
}

.book-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    border-radius: 20px;
    transition: background-color .2s;
}

.book-item:hover {
    background-color: var(--clr2);
    cursor: pointer;
}

.btn-google-add {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 22px;
    height: 22px;

    border-radius: 50%;
}